@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/**{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: #fff;
    font:normal 16px/1.5 sans-serif;
    color: #333;
}*/

/*h3{
    font: normal 32px/1.5 'Open Sans', sans-serif;
    color: #2c3e50;
    margin: 50px 0;
    text-align: center;
}*/




.resp_container{
    width: 25%;
   margin: 40px 10px 0px 20px;
    padding: 20px;
    background-color: #efefef;
    float: right;
}





.app{
    width: 100%;
    position: relative;
}

.app #start-camera{
    display: none;
    border-radius: 3px;
    max-width: 400px;
    color: #fff;
    background-color: #448AFF;
    text-decoration: none;
    padding: 15px;
    opacity: 0.8;
    margin: 50px auto;
    text-align: center;
}

.app video#camera-stream{
    /*display: none;*/
    width: 100%;
}

.app img#snap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* z-index: 10; */
    display: none;
}

.app #error-message{
    width: 100%;
    background-color: #ccc;
    color: #9b9b9b;
    font-size: 28px;
    padding: 200px 100px;
    text-align: center;
    display: none;
}

.app .controls{
    width: 480px;
    height: 360px;
    z-index: 20;
    text-align: center;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 30px;
    /*display: none;*/
}

    .app .controls a {
        border-radius: 50%;
        color: #000000;
        background-color: #fff;
        text-decoration: none;
        padding: 15px;
        line-height: 0;
        opacity: 0.7;
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }
.a-class-icon {
        padding: 0!important;
    padding-top: 14px!important;
    height: 45px;
    text-align: center;
    width: 45px;
}
.a-class-icon i{ 
    font-size:14px!important;
}
.app .controls a:hover{
    opacity: 0.5;
}

.app .controls a.disabled{
    background-color: #555;
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.app .controls a.disabled:hover{
    opacity: 0.5;
}

.app .controls a i{
    font-size: 18px;
}



/*.app canvas{
    display: none;
}*/



.app video#camera-stream.visible,
.app img#snap.visible,
.app #error-message.visible
{
    display: block;
}

.app .controls.visible{
    display: flex;
}



@media(max-width: 1920px){

    .app #start-camera.visible{
        display: block;
    }

    .app .controls a i{
        font-size: 16px;
    }

}


@media(max-width: 600px){

    .app #error-message{
        padding: 80px 50px;
        font-size: 18px;
    }

    .app .controls a i{
        font-size: 12px;
    }
}

